body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

body{
    background:#005499;
    font-family: 'Poppins','sans-serif';
}

.time-text {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title-message {
    font-size: 1.17em;
}

#target {
    position: fixed;
    padding:5%;
    border-radius: 1.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%); 

    width: 69%;
    height: 66%;
    background-image: repeating-linear-gradient(45deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, rgb(0,84,153),rgb(0,84,153));
    opacity:0.75;   
    overflow: hidden;
}

header.mainheader {
    grid-area: header;
}


#logo-beware {
    height: 5em;
    width: 15em;
}

.first-content {
    grid-area: first-content;
    
}

.second-content {
    grid-area: second-content;
}

.third-content {
    grid-area: third-content;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "header"
      "first-content"
      "second-content"
      "third-content";
}


.container-time {
    text-align: center;
    margin-top: 2em;
}
.container-time > div {
    display: inline-block;
}


.link-item {
    margin-right: 1em;
    margin-left: 1em;
    list-style: none;
}


.container-link {
    list-style-type: none;
}

.fa-youtube, .fa-linkedin, .fa-facebook-square, .fa-twitter, .fa-instagram {
    color:#46A67E;
}

.elt-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .elt-center {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #target {
        height: 30%;
        padding: 8%;
    }
    #logo-beware {
        height: 3em;
        width: 8em;
    }

    .container-link {
        padding: 0px 0px;
    }

    .container-time {
        display: flex;
        padding-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .container-time > div {
        margin-right: 0.7em;
    }

    .container-time > div > div.time-text {
        font-size: 16px;
    }

    article.first-content >  div, body, .container-time > div > span  {
        font-size: 11px;
        padding-right: 1em;
    }

    div.digits{
        display: none;
    }

}

@media only screen and  (min-width: 600px) {
}

@media only screen and  (min-width: 1200px) {
    
    .third-content {
        margin-top: 3em;
    }
    .wrapper {
      grid-template-columns: 2fr 2fr;
      grid-template-areas:
        "header  header"
        "first-content second-content"
        "third-content third-content";
        gap: 29% 0%;
    }
    
    .container-contact{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    
    .container-time {
        display: flex;
        margin-left: 1em;
    }
    
    div.container-time > div {
        margin-right: 1em;
        margin-left: 1em;
    }
}

